/* import variable*/
@import'../variable/variable';
@import'../mixins/mixins';

$section-space:6.563rem;
$section-space-97:6.063rem;
$hero-content-pt:7rem;
$margin-30:1.875rem;
$margin-34:2.125rem;

main {
    padding-top: $section-space;

    .hero {
        padding-bottom: $section-space-97;

        .hero_content {
            padding-top: $hero-content-pt;

            hgroup {
                margin-bottom: clamp(1rem, 0.6759rem + 1.6204cqi, $margin-30);

                h2 {
                    font-size: clamp(1rem, 0.9074rem + 0.463vw, $font-size-20);
                    color: $red;
                }

                .decore {
                    // img {
                    //     width: clamp(12.5rem, 10.413rem + 10.4348cqi, 18.5rem) !important;
                    //     top: 100px;
                    //     right: -60px;
                    //     z-index: -1;
                    // }

                    h1 {
                        font-size: clamp(1.5625rem, 0.1968rem + 6.8287cqi, $font-size-84);
                        // &::after{
                        //     position: absolute;
                        //     content: "";
                        //     background: url(../../images/Decore.png) no-repeat center center/cover;
                        //     // width: clamp(12.5rem, 10.413rem + 10.4348cqi, 18.5rem) !important;
                        //     width: 296px;
                        //     height: 6px;
                        // }
                    }
                }
            }
        }

        p {
            @include peragraph ($line-height-30);
            margin-bottom: clamp(1.25rem, 0.9259rem + 1.6204cqi, 2.125rem);
        }

        .hero_btn {
            gap: $gap-44;

            .btn {
                @include btn();
                box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
            }

            a {
                &:last-child {
                    font-size: $font-size-16;
                    color: #686D77;
                    gap: $gap-20;

                    .video_btn {
                        width: $size-52;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        background: $red;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

                        i {
                            font-size: $font-size-16;
                            color: $white-color;
                        }
                    }
                }
            }

        }
    }
}