@import '../variable/variable';
@import '../mixins/mixins';


.newsletter {
    margin-bottom: 96px;
}

.newsletter_content {
    background-color: rgb(223, 215, 249);
    padding-top: clamp(1.25rem, 0.0595rem + 5.9524cqi, 4.375rem);
    padding-bottom: clamp(1.25rem, -0.131rem + 6.9048cqi, 4.875rem);
    padding-inline: clamp(1.25rem, -0.7024rem + 14.7619cqi, 9rem);
    border-radius: 129px 20px 20px;

    h2 {
        font-size: clamp(1.5rem, 1.3043rem + 0.9783cqi, 2.0625rem);
        line-height: clamp(1.875rem, 1.753rem + 2.6087cqi, 3.375rem);
        color: $paragraph-color;
        margin-bottom: 74px;
    }

    label {
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        left: 31px;
    }

    .form-control {
        border-radius: $border-radius-10;
        padding-block: $space-25;
        padding-inline: $space-66 31px;

        &:focus,
        &:focus-visible {
            box-shadow: none;
            border: none;
        }

        &[placeholder] {
            font-weight: 400;
            font-size: $font-size-14;
            color: #39425D;
        }
    }

    .btn {
        padding-block: $space-22;
        padding-inline: $space-50;
        border-radius: $border-radius-10 !important;
        background-image: linear-gradient(#FF946D 0%, #FF7D68 100%) !important;
        font-size: $font-size-16;
    }

    .send {
        width: 70px;
        aspect-ratio: 1 / 1;
        background-image: linear-gradient(#747DEF 0%, #5E3BE1 100%);
        top: -13px;
        right: -20px;

        @media only screen and (min-width: 320px) and (max-width:1313px) {
            right: 0;
            top: -40px;
        }
    }

    .star {
        bottom: -70px;
        right: -99px;
        z-index: -1;

        @media only screen and (min-width: 320px) and (max-width:1313px) {
            right: 0;
        }
    }

    .left_angle {
        left: 20px;
        z-index: -1;
        width: clamp(9.375rem, 4.5054rem + 24.3478vw, 23.375rem);

        svg {
            max-width: 100%;
            width: 100%;
        }
    }

    .right_angle {
        z-index: -1;
        width: clamp(6.25rem, 4.0109rem + 11.1957cqi, 12.6875rem);

        svg {
            max-width: 100%;
            width: 100%;
        }
    }
}