@import '../variable/variable';
@import '../mixins/mixins';

/*variable*/

$progress-height: 6px;

/*==================================*/

.trip {
    padding-bottom: clamp(3.125rem, -0.4464rem + 17.8571cqi, $space-200);
}

.trip_left_content {
    width: min($size-288, 100vw);
    gap: $gap-47;

    .test_item {
        gap: $gap-20;

        .test_content {
            h4 {
                font-size: $font-size-16;
                line-height: $line-height-124-5;
                color: $paragraph-color;
            }

            p {
                @include peragraph ($line-height-124-5);
            }

        }
    }
}

.test_right_content {
    padding-top: $space-60;
    z-index: 1;

    // &::before {
    //     position: absolute;
    //     content: "";
    //     background: #59B1E6;
    //     opacity: 0.4;
    //     right: 0;
    //     top: 0;
    //     z-index: -1;
    // }

    .jurny_content {
        width: clamp(17.625rem, 15.369rem + 11.9048cqi, $size-400);
        padding: $space-20 $space-25;
        border-radius: $border-radius-26;
        box-shadow: 0 1.85px 3.15px 0 rgba(0, 0, 0, 0.48);

        .bottom_content {
            padding-top: $space-26;

            p {
                @include peragraph($line-height-124-5)
            }

            .jurny {
                h4 {
                    font-size: $font-size-18;
                    line-height: $line-height-124-5;
                    letter-spacing: 0.015em;
                    color: #080809;
                    margin-bottom: $space-13;
                }

                .jurny_date {
                    span {
                        font-weight: 500;
                        font-size: $font-size-16;
                        line-height: $line-height-124-5;
                        letter-spacing: -0.05em;
                        color: #84829A;
                        margin-bottom: $space-20;
                        position: relative;

                        &:first-child {
                            &::before {
                                position: absolute;
                                content: '';
                                height: 100%;
                                width: 1px;
                                background: #84829A;
                                right: -3px;
                                bottom: 0;
                            }
                        }
                    }
                }
            }

            .social {
                gap: $gap-18;
                margin-bottom: $space-29;

                a {
                    width: $size-36;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    background: #F5F5F5;
                }
            }
        }
    }
}

.ongoing {
    gap: $gap-11;
    padding: $space-20 $space-25 $space-22 $space-18;
    border-radius: $border-radius-30;
    box-shadow: 0 1.85px 3.15px 0 rgba(0, 0, 0, 0.048);
    bottom: 52px;
    left: 222px;
    background: $white-color;
    position: absolute;
    z-index: 11;

    .ongoing_content {
        p {
            font-size: $font-size-14;
            line-height: $line-height-124-5;
            letter-spacing: -0.0.5em;
            color: #84829A;
            margin-bottom: 6px;
        }

        h5 {
            @include peragraph($line-height-124-5);
            letter-spacing: -0.015em;
            color: #080809;
            margin-bottom: 14px;
            font-size: $font-size-18;
        }

        h6 {
            font-size: $font-size-14;
            line-height: $line-height-124-5;
            letter-spacing: -0.0.5em;
            color: #080809;
            margin-bottom: 10px;

            span {
                color: #8A79DF;
            }
        }

        .progress {
            width: 156px;

            .progress-bar {
                width: 46.79% !important;
            }
        }
    }
}

@media only screen and (min-width: 319px) and (max-width: 768px) {
    .ongoing {
        position: static !important;
    }
}